# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# IntelliJ
.idea/
*.iml

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Env
.env

# Docker volumes (se usar local)
postgres_data/